flows/gpt-basic-webhook.json
{
  "name": "gpt-basic-webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gpt",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9a3e8a62-28cb-4816-bb86-21caf7abd3e4",
      "name": "Webhook",
      "webhookId": "7b08fc4e-df42-43fe-a3d2-757b6d4d4fe3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"{{ $json.body.prompt }}\" }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "b2f33687-c58d-4da3-b09b-cb570e1c68b4",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "OlSg4UkvVH79y6vZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"message\":\"{{ $json.choices[0].message.content }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        440,
        0
      ],
      "id": "26b74074-8d51-4764-b06a-e33e518748ae",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "295d376f-3c3d-4f9a-9ed7-d3bd1907aa2c",
  "meta": {
    "instanceId": "5efda6c44810f9d3ef6badbaf67425b212a27bbd37ff23972fc0c98eae364c60"
  },
  "id": "0zs1Po4ZP0aXMbYY",
  "tags": []
}
